@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




#content {
    max-width: 1600px;
    /*background-color: brown;*/
    margin: 0 auto;
}
.card-img {
    width: 50%;
    border: 10px solid #d9c2a3;
    
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
main section img {
    box-sizing: border-box;
}
   

#hero-img {
    width: 100%;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
}
/* Aligning the text */
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}

body {
    background-color: #fcfbfb;
    font-family: Roboto;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

#background {
    height: 725px;
}

/* Assigning the background color */
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.book, .join {
    background-color: #d9c2a3;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #fcfbfb;
    color: #d9c2a3;  
}
#background {
    background-color: #d9c2a4; 
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em; 
    padding: 35px;
}
footer {
    background-color: #6f7364;
    color:#d9c2a4;
    font-family: Roboto;
    padding: 25px 50px;
    margin: 200px 0;
}

/* Changing color property */

.home-title {
    font-family: 'Averia Gruesa Libre';
    color:#000000;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    font-family: 'Averia Gruesa Libre';
    background-color: #fcfbfb;
    color:#000000;
}
.msg h2 {
    font-family: 'Averia Gruesa Libre';
    color:#fcfbfb; /*good*/
}
.msg p {
    font-family: Roboto;
    background-color: #6f7364;
    color:#fcfbfb; /*good*/
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    background-color: #6f7364;
    color:#d9c2a3;
    text-decoration: none;
    font-family: Roboto;
}
footer a:hover {
    color:#fcfbfb;
}




