/* Add your CSS here to style your valentines day page */

@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


#hero-img {
    width: 100%;
    border: 10px solid white;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-color: pink;
    max-width: 1450px;
}

nav ul {
    text-align: center;
    padding: 25px;
}

nav li {
    padding: 15px 7%;
    text-align: center;
    display: inline;
    font-size: 1.5em;
    border-radius: 15px;
}

nav li:hover {
    background-color: rgb(127, 52, 52);
    color: white;
}

header {
    background-color: rgb(135, 86, 86);
    margin-top: -20px;
    border-radius: 15px;
}
h1 {
    font-family: "Dancing Script";
    font-size: 5em;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 15px;
    width: 50%;
    display: flex;
    justify-self: center;
    text-align: center;
}    

footer {
    background-color: white;
    border: 30px solid white; 
    margin: 0px 0px;
}