




.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2;
}
body {
    grid-column: 2;
}
.card-img {
    border: 10px solid #ffffff;
    /*align-self: center;*/
    grid-column: 2;
    z-index: 1;
    position: absolute; 
    width: 200px; 
    align-items: center;
}
.picture-card {
    grid-column: 2/4;
    z-index: 1;
}
#hero-msg {
    
}
.quote {
    grid-column: 2;
    position: absolute;
}

#the-card {
    position: relative;
    height: 600px;
    width: 400px;
    background-color: #008DB1;
    border: 10px solid #004E63;
    border-radius: 20px;
    grid-column: 2;
}