@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*color list*/
#color {
color:
#1A1423 
#372549
#774C60
#B75D69
#EACDC2
}

#color2 {
   color: 
   #ccd5ae
   #e9edc9
   #fefae0
   #faedcd
   #d4a373
        
}

body {
    margin: auto;
    /* margin: 0; */
    font-size: 24px;
    background-color: #fefae0;
    font-family: Roboto;
}
#content {
    max-width: 1600px;
    background-color: #fefae0;
    margin: auto;
    min-height: 1000px;
    position: relative;
}
#background {
    background-color: #faedcd;
    grid-column: 2/4;
    grid-row: 1/3;
    z-index: 0;
    min-height: 100px;
    position: absolute;
    inset: 0; 
    width: min(900px, 85%);  
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
    bottom: 80px;

}

#hero {
    font-family: Montserrat;
    position: relative;
    text-align: center;
    z-index: 1;


}
header {
    display: grid;
    /* grid-template-rows: 100px; */
    grid-template-columns: 180px auto;
    background: #4c5041;
    height: 120px;
    width: 100%;
}


.logo {
    width: 100%;
    margin: 0px;
    grid-row: 1/1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 

}
nav a {
    padding: 15px;
    text-align: center;
    height: 40px;
    font-size: clamp(.9rem, 4vw, 1.6rem);
    text-decoration: none;
    border-radius: 20px;
    color: #d4a373;  
    border: 5px solid #d4a373;
}

nav a:hover {
    background:#fefae0;
}

.home-grid {
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(240px, auto);
    gap: 20px;
    position: relative;
    z-index: 1;
}

.wwr-site {
    grid-column: 2/3;
    grid-row: 1/2;
}

.wwr-img {
    width:100%;
    height: auto;
    border-radius: 15px;
    border: solid black;
}
.valentines {
    grid-column: 3/4;
    grid-row: 2/3;
}
.val-img {
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.wwr-text {
    text-decoration: none;
    grid-column: 3/4;
    grid-row: 1/2;
    border: solid black;
    padding: 20px;
    border-radius: 15px;
    font-size: .66em;
    background-color: #fefae0;
}

.val-text {
    grid-column: 2/3;
    grid-row: 2/3;
    border: solid black;
    padding: 20px;
    border-radius: 15px;
    font-size: .66em;
    background-color: #fefae0;
}


footer {
    background: #d4a373;
    justify-content: space-around;
    align-items: center; 
    height: 80px;
}

.social {
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 12px;
}

footer .social img {
  width: 50px;
  height: 50px;
}
.msg {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    padding: 20px;
    border-radius: 15px;
    background-color: #fefae0;
    z-index: 2;
    position: relative;
}

/* CSS for ICE PAGE */

.ice-container {
    position: relative;
    padding: 80px 0;
    overflow: hidden;
    z-index: 1;
}

.ice-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 100%;
    background-color: #faedcd;
    z-index: -1;
}
.iceimages {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1000px;
    margin: 50px auto;
}
.iceimages img{
    width: 100%;
    height: auto;
    max-width: 600px;
    border:solid 15px #d4a373;
    border-radius: 10px;
    transition: transform .5s, opacity .8s;
    
}

.iceimages a{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 20px;
    text-decoration: none;
    
    
}
.iceimages span {
    display: block;
    max-width: 500px;
    margin: 0px auto;
    line-height: 1.6;
    color: black;
}
.ice-title {
    color: black;
}
.iceimages img:hover{
    opacity: .95;
    transform: scale(1.08);
}